<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>msg</title>
    <link rel="stylesheet" href="../dist/style.css">
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
</head>
<body class="container">

<script src="../node_modules/systemjs/dist/system.js"></script>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>

<script>
    System.import('./config.js').then(function () {
        System.import('app');
    }).catch(function (err) {
        console.error(err);
    })
</script>

<div class="jumbotron" ng-controller="BindingController as $ctrl">
    <h1 class="header" ng-cloak="">{{$ctrl.name}}</h1>

    <div class="row">
        <div class="col-xs-4">
            <strong>properties</strong>
            <p>NAME := {{$ctrl.name}}</p>
        </div>
        <div class="col-xs-4">
            <strong>operator</strong>
            <p ng-bind=":: 'Name:= ' + $ctrl.name"></p>
        </div>
        <div class="col-xs-4">
            <strong>method</strong>
            <p ng-bind-html="$ctrl.getName( 'Name: ')"></p>
        </div>
    </div>

    <div class="input-group">
        <span class="input-group-addon">name</span>
        <input type="text" class="form-control" ng-model="$ctrl.name"
               ng-paste="$ctrl.paste($event)"
        >
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-change="$ctrl.cbChanged($ctrl.checked)" ng-model="$ctrl.checked"> Check me out
        </label>
    </div>


    <button class="btn btn-primary" ng-click="$ctrl.chgName( $event, 'heike' )">change name</button>
</div>

</body>
</html>