@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

app-root, app-binding {
  display: block;
}

app-binding {
  margin-bottom: 10px;
}

a.btn.selected {
    color: #000;
}

p.red {
  color: red;
}

span.sr-only {
  position: relative;
}

li.user {
  padding: 5px;
  cursor: pointer;
  &.even {
    background-color: #5cb85c;
  }
  &.odd {
    background-color: #4cae4c;
  }
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

user-header {
  h1 {
    display: inline;
  }
}
