@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

app-root, app-binding {
  display: block;
}

app-binding {
  margin-bottom: 10px;
}

a.btn.selected {
    color: #000;
}

p.red {
  color: red;
}

span.sr-only {
  position: relative;
}

li.user {
  padding: 5px;
  cursor: pointer;
  &.even {
    background-color: #5cb85c;
  }
  &.odd {
    background-color: #4cae4c;
  }
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

user-header {
  h1 {
    display: inline;
  }
}

.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(0, 0, 0, 0.95); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}